#main_contents {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 470px;
        background: -webkit-linear-gradient(top, #f59171 0%, #8574d5 100%);
        background: linear-gradient(to bottom, #f59171 0%, #8574d5 100%);
    }
    
    &:after {
        position: absolute;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to left, #8574d5, #f59171 0%);
        background-size: cover;
        content: "";
        bottom:896px;
        left: 0;
    }

    .wrap {
        max-width: 1170px;
        margin: 0 auto;
    }
}

.mt_area {
    padding: 60px 0 120px;

    > h2 {
        font-size: 24px;
        color: #eee;
        text-align: center;
        margin-bottom: 45px;
    }

    .m_menu {
        margin-bottom: 40px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;

        &:after {
            content: '';
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        }

        li {
            float: left;
            width: 50%;

            a {
                display: block;
                line-height: 58px;
                border: 1px solid transparent;
                border-radius: 8px;
                font-size: 24px;
                color: #fff;
                text-align: center;

                &:hover {
                    text-decoration: none;
                }
            }

            &.on a {
                border-color: #fff;
                background: rgba(255, 255, 255, 0.1);
                font-weight: 700;
            }
        }
    }

    .info_box {
        background: #fff;
        border-radius: 8px;
        margin-bottom: 30px;
        position: relative;

        .area {
            position: relative;

            .area-auto {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: auto;
                background: #fff;
                z-index: 100;
                border-radius: 8px;
                box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.1);
                border: solid 1px #dddddd;
                background-color: #ffffff;
                display: none;
            }
        }

        .area-auto {
            &.on {
                display: block;
            }

            ul {
                padding: 13px 0;

                li {
                    width: 100%;
                    cursor: pointer;

                    &:hover {
                        background-color: #fff8f5;
                    }

                    .container {
                        border-bottom: 1px solid #ddd;
                        margin: 0 34px;
                        padding: 15px 0 17px 0;
                        height: 79px;
                        box-sizing: border-box;

                        &:after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                        > div {
                            float: left;

                            &:nth-child(1) {
                                margin-right: 9px;
                            }
                        }

                        .text-wrap {
                            h2 {
                                font-size: 18px;
                                font-weight: bold;
                                line-height: 18px;
                                margin-bottom: 2px;
                            }

                            p {
                                font-size: 14px;
                                color: #777;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }

        &.on {
            background: #ddd;
        }

        &:after {
            content: '';
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        }

        > dl {
            float: left;
            width: 100%;

            &:nth-child(1) input {
                padding-top: 24px;

                &:placeholder-shown {
                    font-weight: normal;
                }
            }

            dt {
                position: absolute;
                top: 0;
                left: 20px;
                font-size: 20px;
                color: #777;
                line-height: 80px;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
            }

            &.on dt {
                top: 16px;
                font-size: 14px;
                line-height: 16px;
            }
        }

        .area input[type=text] {
            font-size: 24px;
        }

        > dl > dd > input[type=text] {
            width: 100%;
            height: 80px;
            padding: 34px 20px 17px 20px;
            box-sizing: border-box;
            border: 0;
            background: none;
            outline: 0;
            font-size: 20px;
            line-height: 29px;
            color: #2f2f2f;
            font-weight: 700;
        }

        input[type=text].on {
            background: #ff0000;
        }

        .area {
            border-bottom: 1px solid #ddd;

            &.on dt {
                opacity: 0;
            }
        }

        .date {
            width: calc(33.33333% - 1px);
            border-right: 1px solid #ddd;
            position: relative;

            .day {
                position: absolute;
                bottom: 21px;
                left: 141px;
                font-size: 20px;
                color: #ea5416;
                font-weight: bold;
                line-height: 20px;
            }

            &:after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('./../images/icon_calendar_grey.png');
                width: 19px;
                height: 19px;
                display: inline-block;
                content: "";
                background-size: cover;
                right: 21px;
            }
        }

        .pp_number {
            width: 33.33333%;
            position: relative;
        }
    }

    .bt_bot {
        display: block;
        max-width: 770px;
        line-height: 80px;
        background: #150c40;
        box-shadow: 0 0 8px rgba(234, 84, 22, 0.2);
        border-radius: 40px;
        margin: 0 auto;
        font-size: 24px;
        padding-right: 50px;
        box-sizing: border-box;
        color: #fff;
        font-weight: 700;
        text-align: center;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        &.bt_search:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 347px;
            display: inline-block;
            width: 31px;
            height: 30px;
            background-image: url("./../images/icon_search_w.png");
            background-size: cover;
            vertical-align: middle;
        }
    }
}

.mm_area {
    text-align: center;
    margin-bottom: 110px;

    .container {
        display: inline-block;

        ul li {
            width: 313px;

            .img-wrap {
                height: 215px;
                width: 100%;
                position: relative;

                img {
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }

            &:nth-child(1) {
                margin-right: 83px;
            }

            &:nth-child(2) {
                margin-right: 89px;
            }

            .text-wrap {
                margin-top: 15.5px;

                h2 {
                    text-align: center;
                    color: #ea5416;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                p {
                    color: #777;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        .link-wrap {
            text-align: right;
            margin-top: 35px;
            margin-right: 61px;

            a {
                width: 194px;
                height: 52px;
                border-radius: 37.5px;
                box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.1);
                background-color: #ea5416;
                display: inline-block;
                text-align: center;
                line-height: 52px;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

.mb_area {
    margin-bottom: 161px;
    position: relative;

    h1 {
        text-align: left;
        color: #777;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 70px;
    }

    ul li {
        width: 370px;
        height: 260px;
        margin-right: 30px;
        border-radius: 8px;
        overflow: hidden;
        background: #000;
        margin-bottom: 30px;
        position: relative;
        
        &:nth-child(7) {
            margin-bottom: 0;
        }
        &:nth-child(8) {
            margin-bottom: 0;
        }
        &:nth-child(9) {
            margin-bottom: 0;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        a {
            display: block;
            width: 370px;
            height: 260px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(4, 4, 4, 0), rgba(0, 0, 0, 0.7) 100%);
                transition: all 0.3s;
            }

            &:hover:after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(245, 146, 113, 0.7), rgba(133, 116, 213, 0.7) 100%);
                transition: all 0.3s;
            }

            img {
                object-fit: cover;
                height: 100%;
            }

            p {
                font-size: 28px;
                font-weight: bold;
                position: absolute;
                bottom: 30px;
                left: 32px;
                color: #fff;
                z-index: 10;
            }

            .oval {
                width: 12px;
                height: 12px;
                background: #777;
                border-radius: 6px;
                top: 20px;
                right: 20px;
                position: absolute;
                z-index: 10;
            }

            &:hover .oval {
                background: #fff;
                transition: all 0.3s;
            }
        }
    }
}

.people-select {
    position: absolute;
    top: 105%;
    z-index: 999;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.1);
    border: solid 1px #dddddd;
    background-color: #ffffff;
    display: none;

    &.on {
        display: block;
    }

    .container {
        padding: 30px;
    }

    .complete {
        height: 71px;
        box-sizing: border-box;
        text-align: center;
        font-size: 22px;
        color: #ea5416;
        font-weight: bold;
        line-height: 71px;
        border-top: 1px solid #ddd;
        cursor: pointer;
    }

    .container ul {
        li {
            &:after {
                content: "";
                display: block;
                clear: both;
            }

            margin-bottom: 20px;
        }

        .people-type {
            > div {
                float: left;
            }

            .name {
                width: 48px;
                font-size: 24px;
                color: #777;
                font-weight: normal;
                margin-right: 45px;
                line-height: 52px;
            }

            .input-wrap {
                width: calc(100% - 94px);

                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                span {
                    width: 52px;
                    height: 52px;
                    cursor: pointer;
                    float: left;

                    &:nth-child(1) {
                        background-image: url("./../images/btn_+.png");
                    }

                    &:nth-child(3) {
                        background-image: url("./../images/btn_-.png");
                    }
                }

                input {
                    width: calc(100% - 104px);
                    box-sizing: border-box;
                    height: 52px;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    border-left: 0;
                    border-right: 0;
                    float: left;
                    text-align: center;
                    line-height: 52px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #2f2f2f;
                    outline: none;
                }
            }
        }

        .people-age {
            margin-left: 94px;

            &:after {
                content: "";
                display: block;
                clear: both;
            }

            > {
                div {
                    float: left;
                }

                .name {
                    width: 100px;
                    margin-right: 10px;
                    font-size: 20px;
                    color: #777;
                    line-height: 52px;
                    font-weight: normal;
                }

                .input-wrap {
                    width: calc(100% - 110px);
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                    
                    select {
                        width: 123px;
                        height: 52px;
                        font-family: inherit;  /* 폰트 상속 */
                        background: url('./../images/btn_selectbox.png') no-repeat 101% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        -webkit-appearance: none; /* 네이티브 외형 감추기 */
                        -moz-appearance: none;
                        appearance: none;
                        outline: none;
                        padding-left: 12px;
                        box-sizing: border-box;
                        font-size: 20px;
                        color: #2f2f2f;
                    }

                    .input-number-increment {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 52px;
                        height: 26px;
                        z-index: 10;
                        cursor: pointer;
                    }

                    .input-number-decrement {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 52px;
                        height: 26px;
                        z-index: 10;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}