@charset "UTF-8";
.hotel-list-wrap {
  position: relative; }
  .hotel-list-wrap .selected-info {
    height: 100px;
    background: #150c40;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    .hotel-list-wrap .selected-info .top .hotel-name {
      width: calc(100% - 40px);
      font-size: 20px;
      color: #fff;
      font-weight: bold;
      height: 29px;
      line-height: 29px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .hotel-list-wrap .selected-info .btm .date-wrap {
      margin-top: 3px;
      height: 24px;
      line-height: 24px;
      font-size: 16px;
      color: #fff; }
      .hotel-list-wrap .selected-info .btm .date-wrap .date {
        margin-right: 6px; }
      .hotel-list-wrap .selected-info .btm .date-wrap .night {
        color: #ea5416; }
    .hotel-list-wrap .selected-info .btm .people {
      margin-top: 3px;
      height: 24px;
      line-height: 24px;
      color: #fff;
      font-size: 16px; }
  .hotel-list-wrap .search-module {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    position: absolute;
    top: 105px;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    padding-top: 66px;
    padding-bottom: 30px;
    min-height: 496px;
    background: #150c40; }
    .hotel-list-wrap .search-module.on {
      opacity: 1;
      visibility: visible;
      transition: 0.3s all; }
    .hotel-list-wrap .search-module > .close-btn {
      position: absolute;
      top: 23px;
      right: 19px; }
    .hotel-list-wrap .search-module:after {
      content: '';
      clear: both;
      display: block;
      content: "검색 재설정";
      position: absolute;
      top: 20px;
      height: 29px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      font-size: 20px; }
    .hotel-list-wrap .search-module form .search-btn-wrap {
      background: none;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px);
      height: 60px; }
      .hotel-list-wrap .search-module form .search-btn-wrap input {
        width: 100%;
        height: 60px;
        outline: none;
        text-align: center;
        padding-right: 20px;
        cursor: pointer;
        box-sizing: border-box;
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
        border-radius: 30px;
        box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.2);
        background-color: #ea5416;
        color: #fff;
        border: 0; }
    .hotel-list-wrap .search-module form > dl {
      background: #fff;
      float: left;
      width: 100%;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      height: 80px; }
      .hotel-list-wrap .search-module form > dl:nth-child(1) {
        border-radius: 8px 8px 0 0; }
        .hotel-list-wrap .search-module form > dl:nth-child(1) dd input {
          padding: 23px 20px 17px 20px !important;
          font-size: 24px !important; }
        .hotel-list-wrap .search-module form > dl:nth-child(1).on dt {
          opacity: 0; }
      .hotel-list-wrap .search-module form > dl:nth-child(4) {
        border-radius: 0 0 8px 8px; }
      .hotel-list-wrap .search-module form > dl:last-child {
        border-bottom: 0; }
      .hotel-list-wrap .search-module form > dl dd input[type=text] {
        width: 100%;
        height: 80px;
        padding: 36px 20px 17px 20px;
        box-sizing: border-box;
        border: 0;
        background: none;
        outline: 0;
        font-size: 20px;
        line-height: 29px;
        font-weight: bold;
        color: #2f2f2f;
        position: relative;
        z-index: 1; }
      .hotel-list-wrap .search-module form > dl dt {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 24px;
        color: #777;
        line-height: 80px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
      .hotel-list-wrap .search-module form > dl.on dt {
        top: 18px;
        font-size: 14px;
        line-height: 16px; }
    .hotel-list-wrap .search-module form .area {
      position: relative;
      height: auto; }
      .hotel-list-wrap .search-module form .area .area-auto {
        visibility: hidden;
        width: 100%;
        height: 0px;
        overflow: scroll;
        background: #fff;
        z-index: 100;
        background-color: #f7f7f7;
        border-top: 1px solid #ddd;
        box-sizing: border-box;
        transition: 0.3s all; }
        .hotel-list-wrap .search-module form .area .area-auto.on {
          visibility: visible;
          height: 281px;
          transition: 0.3s all; }
        .hotel-list-wrap .search-module form .area .area-auto ul {
          padding: 17px 20px;
          box-sizing: border-box; }
          .hotel-list-wrap .search-module form .area .area-auto ul li {
            width: 100%;
            cursor: pointer; }
            .hotel-list-wrap .search-module form .area .area-auto ul li:last-child .container {
              border-bottom: 0; }
            .hotel-list-wrap .search-module form .area .area-auto ul li .container {
              border-bottom: 1px solid #ddd;
              padding: 16px 0 17px 0;
              height: 45px; }
              .hotel-list-wrap .search-module form .area .area-auto ul li .container .icon-wrap {
                width: 32px;
                margin-top: 4px; }
              .hotel-list-wrap .search-module form .area .area-auto ul li .container .text-wrap {
                width: calc(100% - 32px); }
                .hotel-list-wrap .search-module form .area .area-auto ul li .container .text-wrap h2 {
                  font-size: 16px;
                  line-height: 24px;
                  font-weight: bold;
                  color: #2f2f2f;
                  width: 100%;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap; }
                .hotel-list-wrap .search-module form .area .area-auto ul li .container .text-wrap p {
                  margin-top: 3px;
                  font-size: 12px;
                  color: #777; }
    .hotel-list-wrap .search-module form .date {
      position: relative; }
      .hotel-list-wrap .search-module form .date .day {
        position: absolute;
        bottom: 19px;
        left: 141px;
        font-size: 20px;
        color: #ea5416;
        font-weight: bold;
        line-height: 20px; }
      .hotel-list-wrap .search-module form .date:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("./../images/icon_calendar_grey.png");
        width: 19px;
        height: 19px;
        display: inline-block;
        content: "";
        background-size: cover;
        right: 21px; }
    .hotel-list-wrap .search-module form .pp_number {
      position: relative; }
      .hotel-list-wrap .search-module form .pp_number .people-select {
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        z-index: 100;
        box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.1);
        border: solid 1px #dddddd;
        background-color: #ffffff;
        display: none; }
        .hotel-list-wrap .search-module form .pp_number .people-select.on {
          display: block; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container {
          position: relative;
          z-index: 9999;
          padding: 30px 20px; }
        .hotel-list-wrap .search-module form .pp_number .people-select .complete {
          height: 71px;
          box-sizing: border-box;
          text-align: center;
          font-size: 22px;
          color: #ea5416;
          font-weight: bold;
          line-height: 71px;
          border-top: 1px solid #ddd;
          cursor: pointer; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul li {
          margin-bottom: 20px; }
          .hotel-list-wrap .search-module form .pp_number .people-select .container ul li:after {
            content: "";
            display: block;
            clear: both; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type > div {
          float: left; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .name {
          font-size: 24px;
          color: #777;
          font-weight: normal;
          width: 105px;
          line-height: 52px;
          text-align: left; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .input-wrap {
          width: calc(100% - 105px); }
          .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .input-wrap:after {
            content: "";
            display: block;
            clear: both; }
          .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .input-wrap span {
            width: 52px;
            height: 52px;
            cursor: pointer;
            float: left; }
            .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .input-wrap span:nth-child(1) {
              background-image: url("./../images/btn_+.png"); }
            .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .input-wrap span:nth-child(3) {
              background-image: url("./../images/btn_-.png"); }
          .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-type .input-wrap input {
            width: calc(100% - 104px);
            box-sizing: border-box;
            height: 52px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-left: 0;
            border-right: 0;
            float: left;
            text-align: center;
            line-height: 52px;
            font-size: 20px;
            font-weight: bold;
            color: #2f2f2f;
            outline: none; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-age:after {
          content: "";
          display: block;
          clear: both; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-age > div {
          float: left; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-age > .name {
          width: 105px;
          font-size: 20px;
          color: #777;
          line-height: 52px;
          font-weight: normal;
          text-align: left; }
        .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-age > .input-wrap {
          width: calc(100% - 105px);
          position: relative; }
          .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-age > .input-wrap:after {
            content: "";
            display: block;
            clear: both; }
          .hotel-list-wrap .search-module form .pp_number .people-select .container ul .people-age > .input-wrap select {
            width: 100%;
            height: 52px;
            font-family: inherit;
            /* 폰트 상속 */
            background: url("./../images/btn_selectbox.png") no-repeat 101% 50%;
            /* 네이티브 화살표를 커스텀 화살표로 대체 */
            border: 1px solid #ddd;
            border-radius: 8px;
            -webkit-appearance: none;
            /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
            outline: none;
            padding-left: calc(50% - 36px);
            box-sizing: border-box;
            font-size: 20px;
            color: #2f2f2f; }
  .hotel-list-wrap > .container {
    width: calc(100% - 40px);
    margin: 28px 20px 61px 20px;
    z-index: 1; }
    .hotel-list-wrap > .container > .top-wrap p {
      height: 24px;
      line-height: 24px;
      color: #ea5416;
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 16px; }
    .hotel-list-wrap > .container > .top-wrap .filter-wrap button {
      width: 76px;
      height: 34px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background: #fff;
      outline: none;
      text-align: right;
      padding-right: 15px;
      position: relative;
      box-sizing: border-box;
      margin-bottom: 7px; }
      .hotel-list-wrap > .container > .top-wrap .filter-wrap button:after {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 14px;
        height: 14px;
        transform: translateY(-50%);
        background-image: url("./../images/icon_filter_nor.png");
        background-size: cover;
        content: ""; }
    .hotel-list-wrap > .container > .list-wrap ul li {
      height: 130px;
      border-radius: 8px;
      border: solid 1px #dddddd;
      background-color: #ffffff;
      display: block;
      margin-bottom: 10px;
      box-sizing: border-box; }
      .hotel-list-wrap > .container > .list-wrap ul li .img-box {
        width: 130px;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        overflow: hidden;
        border-radius: 8px 0 0 8px; }
        .hotel-list-wrap > .container > .list-wrap ul li .img-box > img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .hotel-list-wrap > .container > .list-wrap ul li .img-box .good-btn {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 18px;
          height: 16px;
          display: inline-block;
          cursor: pointer;
          z-index: 10; }
          .hotel-list-wrap > .container > .list-wrap ul li .img-box .good-btn img {
            width: 100%; }
      .hotel-list-wrap > .container > .list-wrap ul li .info-box {
        width: calc(100% - 130px);
        height: 100%;
        box-sizing: border-box;
        position: relative; }
        .hotel-list-wrap > .container > .list-wrap ul li .info-box .top {
          margin-top: 10px;
          margin-left: 10px; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .rate {
            width: 30px;
            height: 16px;
            border-radius: 13px;
            display: inline-block;
            text-align: center;
            color: #fff;
            line-height: 16px;
            font-weight: 100;
            font-size: 10px; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .rate.tomato {
              background: #ea5416; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .rate.blue {
              background: #150c40; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .rate.green {
              background: #54b952; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .rate.yellow {
              background: #ffd25d; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .review {
            margin-left: 5px;
            margin-right: 5px;
            line-height: 16px;
            font-size: 10px;
            height: 17px;
            color: #777; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .standard {
            margin-top: 2px;
            line-height: 12px;
            font-size: 12px;
            color: #aeaeae;
            font-weight: 100; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .standard img {
              margin-top: 1px;
              width: 12px;
              height: 12px;
              margin-right: 3px; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .standard span {
              font-size: 10px;
              color: #777;
              height: 13px;
              line-height: 13px; }
        .hotel-list-wrap > .container > .list-wrap ul li .info-box .middle {
          width: calc(100% - 20px);
          margin: 0 10px; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .middle p {
            margin-top: 3px;
            margin-bottom: 3px;
            width: 100%;
            max-height: 40px;
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            color: #2f2f2f;
            text-overflow: ellipsis;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .middle .star-rate {
            width: 100%;
            text-align: left; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .middle .star-rate .icon {
              margin-top: 1px; }
            .hotel-list-wrap > .container > .list-wrap ul li .info-box .middle .star-rate .wrap {
              display: inline-block; }
              .hotel-list-wrap > .container > .list-wrap ul li .info-box .middle .star-rate .wrap .text {
                font-size: 10px;
                color: #2f2f2f; }
        .hotel-list-wrap > .container > .list-wrap ul li .info-box .place-info {
          position: absolute;
          bottom: 9px;
          left: 10px; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .place-info div:nth-child(1) {
            font-size: 10px;
            color: #777;
            height: 12px;
            line-height: 12px; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .place-info div:nth-child(2) {
            font-size: 10px;
            color: #150c40;
            height: 16px;
            line-height: 16px; }
        .hotel-list-wrap > .container > .list-wrap ul li .info-box .hotel-info {
          text-align: right;
          position: absolute;
          bottom: 10px;
          right: 10px; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .hotel-info .price {
            height: 24px;
            line-height: 24px;
            font-size: 17px;
            color: #ea5416;
            font-weight: bold;
            margin-bottom: 6px; }
          .hotel-list-wrap > .container > .list-wrap ul li .info-box .hotel-info .hotel-name span {
            height: 13px;
            line-height: 13px;
            font-size: 10px;
            color: #777;
            margin-left: 8px; }
    .hotel-list-wrap > .container .more-wrap {
      margin-top: 40px;
      text-align: center;
      margin-bottom: 61px; }
      .hotel-list-wrap > .container .more-wrap a {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.2);
        background-color: #150c40;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        display: inline-block;
        line-height: 40px; }
        .hotel-list-wrap > .container .more-wrap a b {
          font-weight: bold; }

.jquery-datepicker {
  z-index: 999999; }

.filter-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  top: 0;
  left: 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all; }
  .filter-pop.on {
    visibility: visible;
    opacity: 1;
    transition: 0.3s all; }
  .filter-pop .top {
    height: 72px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; }
    .filter-pop .top .subject {
      margin-top: 22px;
      margin-left: 18px;
      font-weight: bold;
      color: #777;
      font-size: 20px;
      height: 29px;
      line-height: 29px;
      margin-right: 17px; }
    .filter-pop .top .reset {
      width: 85px;
      height: 37px;
      border-radius: 26px;
      border: 2px solid #ddd;
      background: #fff;
      box-sizing: border-box;
      text-align: center;
      line-height: 33px;
      font-size: 12px;
      color: #777;
      margin-top: 19px;
      outline: none; }
    .filter-pop .top .close {
      margin-top: 25px;
      margin-right: 20px; }
  .filter-pop .price-range {
    width: 100%;
    background-color: #ffffff; }
    .filter-pop .price-range > .subject {
      width: calc(100% - 40px);
      height: 29px;
      line-height: 29px;
      font-size: 20px;
      color: #777;
      padding-bottom: 9px;
      margin: 23px 20px 0 20px;
      border-bottom: 1px solid #ddd; }
    .filter-pop .price-range > .title {
      margin-top: 21px;
      margin-left: 20px;
      margin-bottom: 24px; }
      .filter-pop .price-range > .title span {
        line-height: 20px;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #dddddd; }
    .filter-pop .price-range .slider-labels {
      width: calc(100% - 36px) !important;
      margin: 0 18px 0 18px !important; }
    .filter-pop .price-range .slider-container {
      margin-left: 28px !important;
      margin-right: 38px !important;
      width: calc(100% - 66px) !important; }
  .filter-pop .rate-range {
    width: 100%;
    background-color: #ffffff;
    margin-top: 70px; }
    .filter-pop .rate-range > .subject {
      width: calc(100% - 40px);
      height: 29px;
      line-height: 29px;
      font-size: 20px;
      color: #777;
      padding-bottom: 9px;
      margin: 0 20px 20px 20px;
      border-bottom: 1px solid #ddd; }
    .filter-pop .rate-range .all-check-wrap {
      padding-left: 20px;
      margin-bottom: 22px; }
      .filter-pop .rate-range .all-check-wrap label {
        width: 28px;
        height: 28px;
        border-radius: 8px;
        border: solid 2px #dddddd;
        box-sizing: border-box;
        margin-right: 16px;
        background-color: #ffffff; }
      .filter-pop .rate-range .all-check-wrap .text {
        height: 28px;
        line-height: 28px;
        font-size: 18px;
        color: #777777; }
    .filter-pop .rate-range .check-wrap {
      width: 100%;
      height: 28px;
      padding-left: 20px;
      box-sizing: border-box;
      margin-bottom: 22px; }
      .filter-pop .rate-range .check-wrap input ~ label {
        width: 28px;
        height: 28px;
        border-radius: 8px;
        border: solid 2px #dddddd;
        box-sizing: border-box;
        margin-right: 16px;
        background-color: #ffffff; }
    .filter-pop .rate-range .all-check-wrap input:checked ~ label {
      border: solid 2px #ea5416;
      position: relative; }
      .filter-pop .rate-range .all-check-wrap input:checked ~ label:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 11px;
        height: 7px;
        background-size: cover;
        background-image: url("./../images/icon_check.png"); }
    .filter-pop .rate-range .check-wrap input:checked ~ label {
      border: solid 2px #ea5416;
      position: relative; }
      .filter-pop .rate-range .check-wrap input:checked ~ label:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 11px;
        height: 7px;
        background-size: cover;
        background-image: url("./../images/icon_check.png"); }
    .filter-pop .rate-range .check-wrap .text {
      height: 28px;
      line-height: 28px;
      font-size: 18px;
      color: #777777;
      margin-right: 10px; }
    .filter-pop .rate-range .check-wrap span:nth-child(4) {
      margin-top: 3px; }
  .filter-pop .review-range {
    width: 100%;
    background-color: #ffffff;
    margin-top: 60px; }
    .filter-pop .review-range > .subject {
      width: calc(100% - 40px);
      height: 29px;
      line-height: 29px;
      font-size: 20px;
      color: #777;
      padding-bottom: 9px;
      margin: 0 20px 20px 20px;
      border-bottom: 1px solid #ddd; }
    .filter-pop .review-range .all-check-wrap {
      margin-top: 20px;
      padding-left: 20px;
      margin-bottom: 22px; }
      .filter-pop .review-range .all-check-wrap label {
        width: 28px;
        height: 28px;
        border-radius: 24px;
        border: solid 2px #dddddd;
        background-color: #ffffff;
        box-sizing: border-box;
        margin-right: 16px; }
      .filter-pop .review-range .all-check-wrap .text {
        height: 28px;
        line-height: 28px;
        font-size: 18px;
        color: #777777; }
    .filter-pop .review-range .check-wrap {
      width: 100%;
      height: 28px;
      padding-left: 20px;
      margin-bottom: 22px;
      box-sizing: border-box; }
      .filter-pop .review-range .check-wrap input ~ label {
        width: 28px;
        height: 28px;
        border-radius: 24px;
        border: solid 2px #dddddd;
        background-color: #ffffff;
        box-sizing: border-box;
        margin-right: 16px; }
    .filter-pop .review-range .all-check-wrap input:checked ~ label {
      border: solid 2px #ea5416;
      position: relative; }
      .filter-pop .review-range .all-check-wrap input:checked ~ label:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 14px;
        height: 14px;
        border-radius: 24px;
        background: #ea5416; }
    .filter-pop .review-range .check-wrap input:checked ~ label {
      border: solid 2px #ea5416;
      position: relative; }
      .filter-pop .review-range .check-wrap input:checked ~ label:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 14px;
        height: 14px;
        border-radius: 24px;
        background: #ea5416; }
    .filter-pop .review-range .check-wrap .card {
      width: 58px;
      height: 31px;
      border-radius: 26px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      margin-right: 22px;
      line-height: 31px; }
      .filter-pop .review-range .check-wrap .card.tomato {
        background: #ea5416; }
      .filter-pop .review-range .check-wrap .card.blue {
        background: #150c40; }
      .filter-pop .review-range .check-wrap .card.green {
        background: #54b952; }
      .filter-pop .review-range .check-wrap .card.yellow {
        background: #ffd25d; }
    .filter-pop .review-range .check-wrap span:nth-child(4) {
      line-height: 28px;
      font-size: 18px;
      color: #2f2f2f; }
    .filter-pop .review-range .btn-wrap {
      height: 65px;
      margin-top: 42px;
      width: 100%;
      line-height: 65px;
      text-align: center; }
      .filter-pop .review-range .btn-wrap button {
        display: block;
        width: 100%;
        height: 65px;
        text-align: center;
        line-height: 65px;
        background: #ea5416;
        border: 0;
        color: #fff;
        font-size: 22px;
        outline: none;
        font-weight: bold; }

@media (max-width: 375px) {
  .hotel-list-wrap > .container {
    width: calc(100% - 20px);
    margin: 28px 10px 61px 10px; }

  .hotel-list-wrap .selected-info .btm .date-wrap .date {
    letter-spacing: -1px;
    margin-right: 5px; }

  .hotel-list-wrap .selected-info .btm .people {
    letter-spacing: -1px; }

  .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .standard {
    letter-spacing: -1px; }

  .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .rate {
    width: 20px;
    height: 16px;
    line-height: 16px;
    font-size: 8px; }

  .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .review {
    margin-left: 2px;
    margin-right: 2px; }

  .hotel-list-wrap > .container > .list-wrap ul li .info-box .top .standard img {
    margin-right: 0; }

  .hotel-list-wrap > .container > .list-wrap ul li .info-box .hotel-info .hotel-name span {
    margin-left: 4px;
    letter-spacing: -1px; } }

/*# sourceMappingURL=hotel_list.css.map */
