@charset "UTF-8";
.main-calc-wrap .main-calc-module {
  min-height: 450px;
  width: 100%;
  background: linear-gradient(to bottom, #f59171, #8574d5); }
  .main-calc-wrap .main-calc-module .text {
    text-align: center;
    height: 29px;
    line-height: 29px;
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    padding-top: 48px;
    padding-bottom: 46px; }
  .main-calc-wrap .main-calc-module .btn-wrap {
    margin: 0 21px 57px 21px;
    width: calc(100% - 42px);
    height: 60px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); }
    .main-calc-wrap .main-calc-module .btn-wrap a {
      width: 50%;
      height: 60px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      line-height: 60px;
      font-size: 20px;
      color: #fff; }
      .main-calc-wrap .main-calc-module .btn-wrap a.on {
        border-radius: 8px;
        font-weight: bold;
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.1); }
  .main-calc-wrap .main-calc-module > .contents {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    position: relative;
    display: none; }
    .main-calc-wrap .main-calc-module > .contents:after {
      position: absolute;
      top: 30px;
      width: 19px;
      height: 20px;
      background-image: url("./../images/icon_calendar_grey.png");
      background-size: cover;
      content: "";
      right: 40px; }
    .main-calc-wrap .main-calc-module > .contents > input {
      width: 100%;
      height: 80px;
      border-radius: 8px 8px 0 0;
      border: 1px solid #ddd;
      border-top: 0;
      background: #fff;
      font-size: 20px;
      line-height: 20px;
      color: #2f2f2f;
      font-weight: bold;
      padding: 36px 20px 17px 20px;
      box-sizing: border-box;
      outline: none;
      position: relative;
      z-index: 1; }
    .main-calc-wrap .main-calc-module > .contents > .placeholder {
      position: absolute;
      z-index: 1;
      top: 22px;
      left: 41px;
      font-size: 24px;
      color: #777;
      transition: 0.3s all;
      pointer-events: none; }
      .main-calc-wrap .main-calc-module > .contents > .placeholder.on {
        font-size: 14px;
        top: 15px;
        transition: 0.3s all; }
    .main-calc-wrap .main-calc-module > .contents .total_pp_number {
      position: relative; }
      .main-calc-wrap .main-calc-module > .contents .total_pp_number > input {
        width: 100%;
        height: 80px;
        border-radius: 0 0 8px 8px;
        border: 1px solid #ddd;
        border-top: 0;
        background: #fff;
        font-size: 20px;
        line-height: 20px;
        color: #2f2f2f;
        font-weight: bold;
        padding: 36px 20px 17px 20px;
        box-sizing: border-box;
        outline: none;
        position: relative;
        z-index: 1; }
      .main-calc-wrap .main-calc-module > .contents .total_pp_number > .placeholder {
        position: absolute;
        top: 22px;
        left: 21px;
        font-size: 24px;
        color: #777;
        transition: 0.3s all;
        z-index: 1;
        pointer-events: none; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number > .placeholder.on {
          font-size: 14px;
          top: 15px;
          transition: 0.3s all; }
      .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select {
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 8px;
        z-index: 10000;
        box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.1);
        border: solid 1px #dddddd;
        background-color: #ffffff;
        display: none; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select.on {
          display: block; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container {
          position: relative;
          z-index: 9999;
          padding: 30px 20px; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .complete {
          height: 71px;
          box-sizing: border-box;
          text-align: center;
          font-size: 22px;
          color: #ea5416;
          font-weight: bold;
          line-height: 71px;
          border-top: 1px solid #ddd;
          cursor: pointer; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul li {
          margin-bottom: 20px; }
          .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul li:after {
            content: "";
            display: block;
            clear: both; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type > div {
          float: left; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .name {
          font-size: 24px;
          color: #777;
          font-weight: normal;
          width: 105px;
          line-height: 52px;
          text-align: left; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .input-wrap {
          width: calc(100% - 105px); }
          .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .input-wrap:after {
            content: "";
            display: block;
            clear: both; }
          .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .input-wrap span {
            width: 52px;
            height: 52px;
            cursor: pointer;
            float: left; }
            .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .input-wrap span:nth-child(1) {
              background-image: url("./../images/btn_+.png"); }
            .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .input-wrap span:nth-child(3) {
              background-image: url("./../images/btn_-.png"); }
          .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-type .input-wrap input {
            width: calc(100% - 104px);
            box-sizing: border-box;
            height: 52px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-left: 0;
            border-right: 0;
            float: left;
            text-align: center;
            line-height: 52px;
            font-size: 20px;
            font-weight: bold;
            color: #2f2f2f;
            outline: none; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-age:after {
          content: "";
          display: block;
          clear: both; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-age > div {
          float: left; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-age > .name {
          width: 105px;
          font-size: 20px;
          color: #777;
          line-height: 52px;
          font-weight: normal;
          text-align: left; }
        .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-age > .input-wrap {
          width: calc(100% - 105px);
          position: relative; }
          .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-age > .input-wrap:after {
            content: "";
            display: block;
            clear: both; }
          .main-calc-wrap .main-calc-module > .contents .total_pp_number .total-people-select .container ul .people-age > .input-wrap select {
            width: 100%;
            height: 52px;
            font-family: inherit;
            /* 폰트 상속 */
            background: url("./../images/btn_selectbox.png") no-repeat 101% 50%;
            /* 네이티브 화살표를 커스텀 화살표로 대체 */
            border: 1px solid #ddd;
            border-radius: 8px;
            -webkit-appearance: none;
            /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
            outline: none;
            padding-left: calc(50% - 36px);
            box-sizing: border-box;
            font-size: 20px;
            color: #2f2f2f; }
.main-calc-wrap > .content-plan-list {
  margin-bottom: 60px; }
  .main-calc-wrap > .content-plan-list > .plan-add-btn {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff8f5;
    line-height: 48px;
    font-size: 18px;
    font-weight: bold;
    color: #ea5416;
    cursor: pointer;
    padding-left: 20px; }
  .main-calc-wrap > .content-plan-list > .calc-btn-wrap {
    margin-top: 40px; }
    .main-calc-wrap > .content-plan-list > .calc-btn-wrap button {
      margin-top: 0;
      margin-bottom: 0;
      width: calc(100% - 40px);
      border: 0;
      height: 60px;
      margin: 0 20px;
      border-radius: 40px;
      box-shadow: 0 0 8px 2px rgba(234, 84, 22, 0.2);
      background-color: #150c40;
      line-height: 60px;
      font-size: 20px;
      color: #fff;
      font-weight: bold;
      outline: none; }
  .main-calc-wrap > .content-plan-list > .add-plan {
    display: none;
    position: relative; }
    .main-calc-wrap > .content-plan-list > .add-plan .close-btn {
      position: absolute;
      top: 15px;
      right: 26px;
      z-index: 99999; }
    .main-calc-wrap > .content-plan-list > .add-plan .plan-title {
      height: 48px;
      background: #fff8f5;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      line-height: 47px;
      padding-left: 20px;
      font-weight: bold;
      color: #ea5416;
      font-size: 18px;
      position: relative; }
      .main-calc-wrap > .content-plan-list > .add-plan .plan-title:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        transform: rotate(-90deg);
        top: 13px;
        left: 78px;
        background-image: url("./../images/btn_detail_go_hover.png");
        background-size: 100% 100%; }
      .main-calc-wrap > .content-plan-list > .add-plan .plan-title.on:before {
        transform: rotate(90deg);
        transition: 0.3s all; }
    .main-calc-wrap > .content-plan-list > .add-plan.on {
      display: block; }
    .main-calc-wrap > .content-plan-list > .add-plan li:nth-child(4) {
      border-bottom: 0 !important; }
    .main-calc-wrap > .content-plan-list > .add-plan .on-li {
      box-sizing: border-box;
      height: 182px;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
      background: #fff;
      position: relative; }
      .main-calc-wrap > .content-plan-list > .add-plan .on-li .change-btn {
        position: absolute;
        cursor: pointer;
        bottom: -19px;
        right: 19px;
        width: 40px;
        height: 40px;
        z-index: 10; }
        .main-calc-wrap > .content-plan-list > .add-plan .on-li .change-btn img {
          width: 40px;
          height: 40px; }
      .main-calc-wrap > .content-plan-list > .add-plan .on-li .hotel-name {
        padding-top: 18px;
        margin-bottom: 21px;
        line-height: 26px;
        height: 52px;
        font-size: 18px;
        font-weight: bold;
        text-overflow: ellipsis;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #2f2f2f; }
      .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap {
        padding-bottom: 19px;
        box-sizing: border-box; }
        .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .number {
          width: 230px; }
          .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .number span {
            width: 52px;
            height: 52px;
            cursor: pointer;
            float: left; }
            .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .number span:nth-child(1) {
              background-image: url("./../images/btn_+.png"); }
            .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .number span:nth-child(3) {
              background-image: url("./../images/btn_-.png"); }
          .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .number input {
            width: calc(100% - 104px);
            box-sizing: border-box;
            height: 52px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-left: 0;
            border-right: 0;
            float: left;
            text-align: center;
            line-height: 52px;
            font-size: 20px;
            font-weight: bold;
            color: #2f2f2f;
            outline: none; }
        .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .del-btn {
          width: 72px;
          height: 32px;
          margin-top: 10px; }
          .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .del-btn .delete {
            width: 72px;
            height: 32px;
            border-radius: 16px;
            border: 2px solid #ddd;
            background: #fff;
            font-size: 16px;
            color: #777;
            font-weight: normal;
            padding-left: 15px;
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            outline: none; }
            .main-calc-wrap > .content-plan-list > .add-plan .on-li .input-wrap .del-btn .delete:after {
              position: absolute;
              top: 50%;
              width: 12px;
              height: 14px;
              left: 9px;
              transform: translateY(-50%);
              background-image: url("./../images/icon_remove_nor.png");
              background-size: cover;
              content: ""; }
    .main-calc-wrap > .content-plan-list > .add-plan .add-li {
      height: 223px;
      width: 100%;
      padding: 0 20px;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      position: relative; }
      .main-calc-wrap > .content-plan-list > .add-plan .add-li .change-btn {
        position: absolute;
        cursor: pointer;
        bottom: -20px;
        right: 19px;
        width: 40px;
        height: 40px;
        z-index: 10; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li .change-btn img {
          width: 40px;
          height: 40px; }
      .main-calc-wrap > .content-plan-list > .add-plan .add-li .search-btn-wrap {
        display: block;
        position: absolute;
        top: 45px;
        left: 50%;
        width: 225px;
        transform: translateX(-50%); }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li .search-btn-wrap .icon {
          width: 48px;
          height: 48px;
          margin-right: 20px;
          display: inline-block; }
          .main-calc-wrap > .content-plan-list > .add-plan .add-li .search-btn-wrap .icon img {
            width: 48px;
            height: 48px; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li .search-btn-wrap .text p:nth-child(1) {
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #777777;
          height: 29px;
          line-height: 29px; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li .search-btn-wrap .text p:nth-child(2) {
          height: 20px;
          font-family: NotoSansCJKkr;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #aeaeae; }
      .main-calc-wrap > .content-plan-list > .add-plan .add-li .add-btn-wrap {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 48px;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        padding: 0 20px;
        border: 1px solid #ddd;
        background: #f7f7f7;
        box-sizing: border-box; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li .add-btn-wrap p:nth-child(1) {
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #2f2f2f;
          margin-top: 14px; }
          .main-calc-wrap > .content-plan-list > .add-plan .add-li .add-btn-wrap p:nth-child(1) span {
            color: #ea5416; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li .add-btn-wrap p:nth-child(2) {
          height: 20px;
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;
          color: #ea5416;
          margin-top: 14px;
          text-decoration: underline; }
    .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest {
      height: 203px;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      position: relative; }
      .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .change-btn {
        position: absolute;
        cursor: pointer;
        bottom: -20px;
        right: 19px;
        width: 40px;
        height: 40px;
        z-index: 10; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .change-btn img {
          width: 40px;
          height: 40px; }
      .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .search-btn-wrap {
        display: block;
        position: absolute;
        top: 50%;
        left: 21px;
        width: 225px;
        transform: translateY(-50%); }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .search-btn-wrap .icon {
          width: 48px;
          height: 48px;
          margin-right: 20px;
          display: inline-block; }
          .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .search-btn-wrap .icon img {
            width: 48px;
            height: 48px; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .search-btn-wrap .text p:nth-child(1) {
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #777777;
          height: 29px;
          line-height: 29px; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .search-btn-wrap .text p:nth-child(2) {
          height: 20px;
          font-family: NotoSansCJKkr;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #aeaeae; }
      .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .add-btn-wrap {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 48px;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        margin-bottom: 40px;
        padding: 0 20px;
        border: 1px solid #ddd;
        background: #f7f7f7;
        box-sizing: border-box; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .add-btn-wrap p:nth-child(1) {
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #2f2f2f;
          margin-top: 14px; }
          .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .add-btn-wrap p:nth-child(1) span {
            color: #ea5416; }
        .main-calc-wrap > .content-plan-list > .add-plan .add-li-rest .add-btn-wrap p:nth-child(2) {
          height: 20px;
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;
          color: #ea5416;
          margin-top: 14px;
          text-decoration: underline; }
  .main-calc-wrap > .content-plan-list > .plan .plan-title {
    height: 48px;
    background: #fff8f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    line-height: 47px;
    padding-left: 20px;
    font-weight: bold;
    color: #ea5416;
    font-size: 18px;
    position: relative; }
    .main-calc-wrap > .content-plan-list > .plan .plan-title:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid #ea5416;
      background: #fff8f5;
      top: 14px;
      right: 14px;
      box-sizing: border-box;
      border-radius: 5px; }
  .main-calc-wrap > .content-plan-list > .plan.on {
    display: block; }
  .main-calc-wrap > .content-plan-list > .plan li:nth-child(4) {
    border-bottom: 0 !important; }
  .main-calc-wrap > .content-plan-list > .plan .on-li {
    box-sizing: border-box;
    height: 182px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    background: #fff;
    position: relative; }
    .main-calc-wrap > .content-plan-list > .plan .on-li .change-btn {
      position: absolute;
      cursor: pointer;
      bottom: -19px;
      right: 19px;
      width: 40px;
      height: 40px;
      z-index: 10; }
      .main-calc-wrap > .content-plan-list > .plan .on-li .change-btn img {
        width: 40px;
        height: 40px; }
    .main-calc-wrap > .content-plan-list > .plan .on-li .hotel-name {
      padding-top: 18px;
      margin-bottom: 21px;
      line-height: 26px;
      height: 52px;
      font-size: 18px;
      font-weight: bold;
      text-overflow: ellipsis;
      text-align: left;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #2f2f2f; }
    .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap {
      padding-bottom: 19px;
      box-sizing: border-box; }
      .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .number {
        width: 230px; }
        .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .number span {
          width: 52px;
          height: 52px;
          cursor: pointer;
          float: left; }
          .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .number span:nth-child(1) {
            background-image: url("./../images/btn_+.png"); }
          .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .number span:nth-child(3) {
            background-image: url("./../images/btn_-.png"); }
        .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .number input {
          width: calc(100% - 104px);
          box-sizing: border-box;
          height: 52px;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          border-left: 0;
          border-right: 0;
          float: left;
          text-align: center;
          line-height: 52px;
          font-size: 20px;
          font-weight: bold;
          color: #2f2f2f;
          outline: none; }
      .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .del-btn {
        width: 72px;
        height: 32px;
        margin-top: 10px; }
        .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .del-btn .delete {
          width: 72px;
          height: 32px;
          border-radius: 16px;
          border: 2px solid #ddd;
          background: #fff;
          font-size: 16px;
          color: #777;
          font-weight: normal;
          padding-left: 15px;
          box-sizing: border-box;
          position: relative;
          display: inline-block;
          outline: none; }
          .main-calc-wrap > .content-plan-list > .plan .on-li .input-wrap .del-btn .delete:after {
            position: absolute;
            top: 50%;
            width: 12px;
            height: 14px;
            left: 9px;
            transform: translateY(-50%);
            background-image: url("./../images/icon_remove_nor.png");
            background-size: cover;
            content: ""; }
  .main-calc-wrap > .content-plan-list > .plan .add-li {
    height: 223px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: relative; }
    .main-calc-wrap > .content-plan-list > .plan .add-li .change-btn {
      position: absolute;
      cursor: pointer;
      bottom: -20px;
      right: 19px;
      width: 40px;
      height: 40px;
      z-index: 10; }
      .main-calc-wrap > .content-plan-list > .plan .add-li .change-btn img {
        width: 40px;
        height: 40px; }
    .main-calc-wrap > .content-plan-list > .plan .add-li .search-btn-wrap {
      display: block;
      position: absolute;
      top: 45px;
      left: 50%;
      width: 225px;
      transform: translateX(-50%); }
      .main-calc-wrap > .content-plan-list > .plan .add-li .search-btn-wrap .icon {
        width: 48px;
        height: 48px;
        margin-right: 20px;
        display: inline-block; }
        .main-calc-wrap > .content-plan-list > .plan .add-li .search-btn-wrap .icon img {
          width: 48px;
          height: 48px; }
      .main-calc-wrap > .content-plan-list > .plan .add-li .search-btn-wrap .text p:nth-child(1) {
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #777777;
        height: 29px;
        line-height: 29px; }
      .main-calc-wrap > .content-plan-list > .plan .add-li .search-btn-wrap .text p:nth-child(2) {
        height: 20px;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #aeaeae; }
    .main-calc-wrap > .content-plan-list > .plan .add-li .add-btn-wrap {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 48px;
      width: 100%;
      height: 48px;
      border-radius: 8px;
      padding: 0 20px;
      border: 1px solid #ddd;
      background: #f7f7f7;
      box-sizing: border-box; }
      .main-calc-wrap > .content-plan-list > .plan .add-li .add-btn-wrap p:nth-child(1) {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #2f2f2f;
        margin-top: 14px; }
        .main-calc-wrap > .content-plan-list > .plan .add-li .add-btn-wrap p:nth-child(1) span {
          color: #ea5416; }
      .main-calc-wrap > .content-plan-list > .plan .add-li .add-btn-wrap p:nth-child(2) {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #ea5416;
        margin-top: 14px;
        text-decoration: underline; }
  .main-calc-wrap > .content-plan-list > .plan .add-li-rest {
    height: 203px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: relative; }
    .main-calc-wrap > .content-plan-list > .plan .add-li-rest .change-btn {
      position: absolute;
      cursor: pointer;
      bottom: -20px;
      right: 19px;
      width: 40px;
      height: 40px;
      z-index: 10; }
      .main-calc-wrap > .content-plan-list > .plan .add-li-rest .change-btn img {
        width: 40px;
        height: 40px; }
    .main-calc-wrap > .content-plan-list > .plan .add-li-rest .search-btn-wrap {
      display: block;
      position: absolute;
      top: 50%;
      left: 21px;
      width: 225px;
      transform: translateY(-50%); }
      .main-calc-wrap > .content-plan-list > .plan .add-li-rest .search-btn-wrap .icon {
        width: 48px;
        height: 48px;
        margin-right: 20px;
        display: inline-block; }
        .main-calc-wrap > .content-plan-list > .plan .add-li-rest .search-btn-wrap .icon img {
          width: 48px;
          height: 48px; }
      .main-calc-wrap > .content-plan-list > .plan .add-li-rest .search-btn-wrap .text p:nth-child(1) {
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #777777;
        height: 29px;
        line-height: 29px; }
      .main-calc-wrap > .content-plan-list > .plan .add-li-rest .search-btn-wrap .text p:nth-child(2) {
        height: 20px;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #aeaeae; }
    .main-calc-wrap > .content-plan-list > .plan .add-li-rest .add-btn-wrap {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 48px;
      width: 100%;
      height: 48px;
      border-radius: 8px;
      margin-bottom: 40px;
      padding: 0 20px;
      border: 1px solid #ddd;
      background: #f7f7f7;
      box-sizing: border-box; }
      .main-calc-wrap > .content-plan-list > .plan .add-li-rest .add-btn-wrap p:nth-child(1) {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #2f2f2f;
        margin-top: 14px; }
        .main-calc-wrap > .content-plan-list > .plan .add-li-rest .add-btn-wrap p:nth-child(1) span {
          color: #ea5416; }
      .main-calc-wrap > .content-plan-list > .plan .add-li-rest .add-btn-wrap p:nth-child(2) {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #ea5416;
        margin-top: 14px;
        text-decoration: underline; }
.main-calc-wrap .search-history-wrap {
  height: 573px;
  width: 100% !important;
  background: #f7f7f7; }
  .main-calc-wrap .search-history-wrap > .title {
    width: 100%;
    padding-top: 43px;
    padding-bottom: 32px;
    z-index: 999;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #777777;
    line-height: 36px;
    height: 36px; }
  .main-calc-wrap .search-history-wrap > .contents {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 10;
    position: relative; }
    .main-calc-wrap .search-history-wrap > .contents .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 200;
      width: 45px;
      height: 90px;
      background-image: url("./../images/mo_btn_recentsearch_right.png");
      background-size: 100% 100%;
      cursor: pointer; }
    .main-calc-wrap .search-history-wrap > .contents .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: 200;
      width: 45px;
      height: 90px;
      background-image: url("./../images/mo_btn_recentsearch_left.png");
      background-size: 100% 100%;
      cursor: pointer; }
    .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container {
      height: 400px;
      overflow: hidden;
      position: relative; }
      .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide {
        height: 400px;
        background: #fff;
        border-radius: 8px;
        padding-top: 18px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide:last-child {
          margin-right: 0; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .top > div {
          display: inline-block; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .top .date {
          height: 27px;
          line-height: 27px;
          font-size: 18px;
          color: #2f2f2f;
          font-weight: bold;
          margin-left: 2px; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .top .night {
          width: 100%;
          margin-bottom: 2.8px; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .top .night span {
            width: 62px;
            height: 27px;
            margin-right: 8px;
            line-height: 27px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            color: #777;
            background: #f7f7f7;
            border-radius: 16px;
            display: inline-block; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .top .price {
          font-size: 20px;
          margin-right: 2px;
          font-weight: bold;
          color: #ea5416;
          height: 27px;
          line-height: 27px; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li {
          margin-top: 0px;
          margin-bottom: 9px; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li:nth-child(1) {
            margin-top: 16px; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li:last-child {
            margin-bottom: 0; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li a {
            display: block;
            width: 100%;
            max-height: 72px;
            border-radius: 8px;
            border: solid 1px #dddddd;
            box-sizing: border-box;
            background-color: #ffffff; }
            .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li a .top {
              padding-top: 10px;
              padding-left: 10px;
              padding-right: 23px;
              padding-bottom: 11px;
              box-sizing: border-box; }
              .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li a .top p {
                font-size: 16px;
                max-height: 44px;
                line-height: 22px;
                box-sizing: border-box;
                text-overflow: ellipsis;
                text-align: left;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden; }
                .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li a .top p .type {
                  width: 50px;
                  height: 22px;
                  font-size: 12px;
                  font-weight: bold;
                  display: inline-block;
                  text-align: center;
                  border-radius: 11px;
                  color: #ea5416;
                  background: #fff8f5; }
                .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li a .top p .hotel-name {
                  color: #2f2f2f; }
                .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .plan-wrap ul li a .top p .text {
                  color: #777777; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap {
          position: absolute;
          width: calc(100% - 40px);
          bottom: 18px;
          left: 50%;
          transform: translateX(-50%); }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap .delete {
            margin-top: 9px;
            width: 72px;
            height: 32px;
            border-radius: 16px;
            border: 2px solid #ddd;
            background: #fff;
            padding-left: 9px;
            box-sizing: border-box;
            font-size: 16px;
            color: #777;
            outline: none;
            position: relative; }
            .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap .delete:after {
              position: absolute;
              top: 50%;
              width: 12px;
              height: 14px;
              left: 9px;
              transform: translateY(-50%);
              background-image: url(./../images/icon_remove_nor.png);
              background-size: cover;
              content: ""; }
            .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap .delete:hover {
              color: #fff;
              background: #ddd; }
              .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap .delete:hover:after {
                background-image: url(./../images/icon_remove_hover.png); }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap .re-search {
            width: 190px;
            height: 48px;
            border-radius: 26px;
            border: 1px solid #ea5416;
            background: #fff;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            font-size: 18px;
            font-weight: bold;
            color: #ea5416; }
            .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .swiper-slide > .btn-wrap .re-search:hover {
              background: #ea5416;
              color: #fff; }
      .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type {
        position: relative; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap {
          position: relative;
          width: 100%;
          height: 220px;
          padding-top: 10px;
          padding-left: 10px;
          padding-bottom: 19px;
          padding-right: 10px;
          box-sizing: border-box;
          border: 1px solid #ddd;
          background: #fff;
          border-radius: 8px;
          margin-top: 17px; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap:after {
            content: "";
            width: 8px;
            height: 8px;
            border: 1px solid #ea5416;
            border-radius: 4px;
            box-sizing: border-box;
            position: absolute;
            top: 11px;
            right: 11px; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap .type {
            width: 50px;
            height: 22px;
            font-size: 12px;
            font-weight: bold;
            display: inline-block;
            text-align: center;
            border-radius: 11px;
            color: #ea5416;
            background: #fff8f5; }
          .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap ul {
            margin-top: 8px; }
            .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap ul li {
              margin-left: 27px;
              margin-bottom: 8px;
              position: relative;
              text-align: left;
              max-height: 48px;
              line-height: 24px;
              width: 220px; }
              .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap ul li:last-child {
                margin-bottom: 0; }
              .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap ul li:after {
                content: "";
                width: 8px;
                height: 8px;
                border: 1px solid #ea5416;
                box-sizing: border-box;
                position: absolute;
                border-radius: 4px;
                right: calc(100% + 9px);
                top: 9px;
                z-index: 999; }
              .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap ul li .hotel-name {
                line-height: 24px;
                font-size: 16px;
                color: #2f2f2f; }
              .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .one-plan-wrap ul li .text {
                line-height: 24px;
                font-size: 16px;
                color: #777; }
        .main-calc-wrap .search-history-wrap > .contents .index2-swiper-container .swiper-wrapper .one-type > .btn-wrap {
          position: absolute;
          width: calc(100% - 40px);
          bottom: 18px;
          left: 50%;
          transform: translateX(-50%); }
.main-calc-wrap .intro-img-wrap .top {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 65px; }
  .main-calc-wrap .intro-img-wrap .top img {
    width: calc(100% - 40px);
    margin: 0 20px; }
.main-calc-wrap .intro-img-wrap .middle {
  position: relative;
  text-align: center;
  margin-bottom: 75px; }
  .main-calc-wrap .intro-img-wrap .middle .text {
    margin-left: 20px;
    margin-bottom: 17px;
    font-family: NotoSerifKR;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 26px;
    letter-spacing: normal;
    text-align: left;
    color: #777; }
  .main-calc-wrap .intro-img-wrap .middle img {
    width: calc(100% - 40px);
    margin: 0 20px; }
.main-calc-wrap .intro-img-wrap .btm {
  margin-bottom: 81px; }
  .main-calc-wrap .intro-img-wrap .btm .text {
    font-family: NotoSerifKR;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 26px;
    margin-left: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #777; }
  .main-calc-wrap .intro-img-wrap .btm .small-text {
    margin-bottom: 20px;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 14px;
    letter-spacing: normal;
    text-align: left;
    color: #777; }
  .main-calc-wrap .intro-img-wrap .btm img {
    width: calc(100% - 40px);
    margin: 0 20px; }

.hotel-add-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 999999;
  overflow: auto;
  background: #f7f7f7;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all; }
  .hotel-add-pop.on {
    visibility: visible;
    opacity: 1;
    transition: 0.3s all; }
  .hotel-add-pop .top {
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background: #fff;
    position: relative; }
    .hotel-add-pop .top .text {
      margin-top: 16px;
      margin-left: 20px;
      font-size: 20px;
      height: 29px;
      line-height: 29px;
      font-weight: bold;
      color: #777; }
    .hotel-add-pop .top .close-btn {
      margin-top: 18px;
      margin-right: 20px;
      cursor: pointer; }
    .hotel-add-pop .top .input-wrap {
      position: absolute;
      height: 60px;
      width: calc(100% - 40px);
      margin: 70px 20px 0 20px; }
      .hotel-add-pop .top .input-wrap:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 23px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        background-image: url("./../images/icon_layerpopup_search.png");
        background-size: cover;
        content: ""; }
      .hotel-add-pop .top .input-wrap input {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        font-size: 18px;
        padding-right: 20px;
        color: #2f2f2f;
        padding-left: 55px;
        border-radius: 30px;
        outline: none;
        border: 1px solid #ddd;
        background-size: contain; }
        .hotel-add-pop .top .input-wrap input:placeholder-shown {
          color: #777; }
  .hotel-add-pop .contents .hotel-history {
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    .hotel-add-pop .contents .hotel-history > .title {
      padding-left: 27px;
      margin-bottom: 6px;
      font-size: 18px;
      font-weight: normal;
      color: #777;
      box-sizing: border-box;
      position: relative; }
      .hotel-add-pop .contents .hotel-history > .title:after {
        top: 3px;
        left: 0;
        position: absolute;
        width: 18px;
        height: 20px;
        background-image: url("./../images/icon_search_hotel.png");
        background-size: contain;
        content: ""; }
    .hotel-add-pop .contents .hotel-history ul li {
      position: relative; }
      .hotel-add-pop .contents .hotel-history ul li:hover {
        background: #fff8f5; }
      .hotel-add-pop .contents .hotel-history ul li .container {
        cursor: pointer;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd; }
        .hotel-add-pop .contents .hotel-history ul li .container .title {
          width: 100%;
          font-size: 16px;
          font-weight: bold;
          color: #2f2f2f;
          line-height: 24px;
          max-height: 48px;
          box-sizing: border-box;
          text-overflow: ellipsis;
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden; }
        .hotel-add-pop .contents .hotel-history ul li .container .place {
          font-size: 12px;
          color: #777;
          font-weight: normal;
          margin-top: 3px;
          height: 18px;
          line-height: 18px; }
        .hotel-add-pop .contents .hotel-history ul li .container .close-btn {
          position: absolute;
          top: 20px;
          right: 0;
          cursor: pointer; }
  .hotel-add-pop .contents .wish-list {
    margin-top: 35px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    .hotel-add-pop .contents .wish-list > .title {
      padding-left: 27px;
      margin-bottom: 6px;
      font-size: 18px;
      font-weight: normal;
      color: #777;
      box-sizing: border-box;
      position: relative; }
      .hotel-add-pop .contents .wish-list > .title:after {
        top: 3px;
        left: 0;
        position: absolute;
        width: 21px;
        height: 18px;
        background-image: url("./../images/icon_wish_header.png");
        background-size: contain;
        content: ""; }
    .hotel-add-pop .contents .wish-list ul li {
      position: relative; }
      .hotel-add-pop .contents .wish-list ul li:hover {
        background: #fff8f5; }
      .hotel-add-pop .contents .wish-list ul li .container {
        cursor: pointer;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd; }
        .hotel-add-pop .contents .wish-list ul li .container .title {
          width: 100%;
          font-size: 16px;
          font-weight: bold;
          color: #2f2f2f;
          line-height: 24px;
          max-height: 48px;
          box-sizing: border-box;
          text-overflow: ellipsis;
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden; }
        .hotel-add-pop .contents .wish-list ul li .container .place {
          font-size: 12px;
          color: #777;
          font-weight: normal;
          margin-top: 3px;
          height: 18px;
          line-height: 18px; }
        .hotel-add-pop .contents .wish-list ul li .container .close-btn {
          position: absolute;
          top: 20px;
          right: 0;
          cursor: pointer; }

.hotel-search-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  background: #f7f7f7;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all; }
  .hotel-search-pop.on {
    visibility: visible;
    opacity: 1;
    transition: 0.3s all; }
  .hotel-search-pop .top {
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background: #fff;
    position: relative; }
    .hotel-search-pop .top .text {
      margin-top: 16px;
      margin-left: 20px;
      font-size: 20px;
      height: 29px;
      line-height: 29px;
      font-weight: bold;
      color: #777; }
    .hotel-search-pop .top .close-btn {
      margin-top: 18px;
      margin-right: 20px;
      cursor: pointer; }
    .hotel-search-pop .top .input-wrap {
      position: absolute;
      height: 60px;
      width: calc(100% - 40px);
      margin: 70px 20px 0 20px; }
      .hotel-search-pop .top .input-wrap:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 23px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        background-image: url("./../images/icon_layerpopup_search.png");
        background-size: cover;
        content: ""; }
      .hotel-search-pop .top .input-wrap input {
        height: 60px;
        box-sizing: border-box;
        font-size: 18px;
        padding-right: 20px;
        color: #2f2f2f;
        padding-left: 55px;
        border-radius: 30px;
        outline: none;
        border: 1px solid #ddd;
        background-size: contain; }
        .hotel-search-pop .top .input-wrap input:placeholder-shown {
          color: #777; }
  .hotel-search-pop .contents {
    background: #f7f7f7; }
    .hotel-search-pop .contents .search-wrap {
      padding-left: 24px;
      padding-right: 16px; }
      .hotel-search-pop .contents .search-wrap ul li {
        position: relative;
        padding-top: 19px;
        padding-bottom: 17px;
        border-bottom: 1px solid #ddd; }
        .hotel-search-pop .contents .search-wrap ul li:hover {
          background: #fff8f5; }
        .hotel-search-pop .contents .search-wrap ul li .container {
          cursor: pointer;
          width: 100%; }
          .hotel-search-pop .contents .search-wrap ul li .container .left {
            width: 30px; }
            .hotel-search-pop .contents .search-wrap ul li .container .left img {
              margin-top: 3px; }
          .hotel-search-pop .contents .search-wrap ul li .container .right {
            width: calc(100% - 30px); }
          .hotel-search-pop .contents .search-wrap ul li .container .title {
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: #2f2f2f;
            line-height: 24px;
            max-height: 48px;
            text-overflow: ellipsis;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
          .hotel-search-pop .contents .search-wrap ul li .container .place {
            font-size: 12px;
            color: #777;
            font-weight: normal;
            margin-top: 3px;
            height: 18px;
            line-height: 18px; }
          .hotel-search-pop .contents .search-wrap ul li .container .close-btn {
            position: absolute;
            top: 17px;
            right: 0;
            cursor: pointer; }

/*# sourceMappingURL=index2.css.map */
